@use "../../../styles/variables.module" as vars;

.presetsBackground {
  height: vars.$device-height;
  position: relative;
  width: vars.$device-width;
  background: vars.$black;
}

.presetIndicatorsWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 85px;
}

.presetCardsWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
