@use "../../../styles/variables.module" as vars;

.ambientBackdrop {
  @include vars.transition-background;
  height: vars.$device-height;
  overflow: hidden;
  position: absolute;
  width: vars.$device-width;
  will-change: transform;
  z-index: -1;
  border-radius: 10px;
}
