@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
}

body {
  background-color: #000000;
}

.album-shadow {
  box-shadow: 0px 40px 250px rgba(0, 0, 0, 0.25);
}

.scroll-container {
  scrollbar-width: none; /* For Firefox */
}

.scroll-container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

.fade-out {
  opacity: 0;
}

.fade-in {
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

.transition-opacity {
  transition: opacity 0.3s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeIn-animation {
  animation: 0.8s fadeIn;
}

.progress-bar {
  transition-property: width;
  transition-timing-function: linear;
  transition-duration: 250ms;
  will-change: width;
}

.progress-bar.no-transition {
  transition: none;
}

.animate__animated.animate__fadeInRight {
  --animate-duration: 400ms;
}

.animate__animated.animate__fadeOutRight {
  --animate-duration: 400ms;
}

@keyframes volumeInScale {
  from {
    transform: scale(0) translate3d(100%, 0, 0);
    margin-right: 0;
  }
  to {
    transform: scale(1) translate3d(0, 0, 0);
    margin-right: 60px;
  }
}

.volumeInScale {
  animation-name: volumeInScale;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes volumeOutScale {
  from {
    transform: scale(1) translate3d(0, 0, 0);
    margin-right: 60px;
  }
  to {
    transform: scale(0) translate3d(100%, 0, 0);
    margin-right: 0;
  }
}

.volumeOutScale {
  animation-name: volumeOutScale;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

section {
  display: flex;
  gap: 3px;
  padding-top: 8px;
}

@keyframes waveform {
  0% {
    transform: scaleY(0.5);
  }
  50% {
    transform: scaleY(1.5);
  }
  100% {
    transform: scaleY(0.5);
  }
}

[class*="wave"] {
  aspect-ratio: 0.125/1;
  animation: waveform var(--wavefreq) ease-in-out infinite forwards;
  animation-delay: var(--wave-offset);
  background-color: #ffffff;
  border-radius: 15px;
  width: 1vw;
}

:root {
  --m: 11.5;
  --wavefreq: calc(100ms * var(--m));
  --wave-offset: -1.5s;
}

.wave1 {
  --wavefreq: calc(200ms * var(--m));
  animation-delay: calc(var(--wave-offset) - 0.2s);
}

.wave2 {
  --wavefreq: calc(300ms * var(--m));
  animation-delay: calc(var(--wave-offset) - 0.3s);
}

.wave3 {
  --wavefreq: calc(400ms * var(--m));
  animation-delay: calc(var(--wave-offset) - 0.4s);
}

.wave4 {
  --wavefreq: calc(500ms * var(--m));
  animation-delay: calc(var(--wave-offset) - 0.5s);
}

.wave5 {
  --wavefreq: calc(600ms * var(--m));
  animation-delay: calc(var(--wave-offset) - 0.6s);
}

.wave6 {
  --wavefreq: calc(700ms * var(--m));
  animation-delay: calc(var(--wave-offset) - 0.7s);
}

.track-name-container {
  position: relative;
  width: 380px;
  overflow: hidden;
}

.track-name {
  display: inline-block;
  position: relative;
  left: 0;
  white-space: nowrap;
}

.animate-scroll {
  animation: marquee calc(var(--scroll-duration) * 2 + 4s) linear infinite;
  animation-delay: 2s;
}

@keyframes marquee {
  0%,
  2.5% {
    transform: translateX(0);
  }
  47.5%,
  52.5% {
    transform: translateX(var(--final-position));
  }
  97.5%,
  100% {
    transform: translateX(0);
  }
}

.transition-height {
  transition-property: height;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
