.mockingbird-root {
  font-family: 'spotify-circular', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  color: white;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  img,
  video {
    max-width: none;
    height: auto;
  }
}
