@import '../../../styles/variables.module';

.licenses {
  width: $device-width;
  height: $device-height;
  background-color: $white;
  color: $black;
  padding: 42px;
  box-sizing: border-box;
}

.header {
  font-weight: bold;
  @include text-style(44px, 48px, -0.02em);
  margin-bottom: 42px;
}

.textContainer {
  height: 300px;
  overflow-y: auto;
}

.licenseText {
  white-space: pre-wrap;
  word-break: break-all;
  font-size: 12px;
  font-family: monospace;
  line-height: 12px;
  margin: 0;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  @include text-style(32px, 40px, 0);
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}
