@use "../../../../styles/variables.module" as vars;

.presetUnavailableTitles {
  text-align: center;
  width: 168px;
  margin-top: 16px;
}

.title {
  color: vars.$white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 8px;

  &.active {
    color: vars.$green-light;
  }
}

.unavailable {
  color: vars.$opacity-white-70;
}
