@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
  cursor: none !important;
}

body {
  background-color: #000000;
}

.album-shadow {
  box-shadow: 0px 40px 250px rgba(0, 0, 0, 0.25);
}

.scroll-container {
  scrollbar-width: none;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn-animation {
  animation: 0.8s fadeIn;
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform;
}

@keyframes marquee {

  0%,
  2.5% {
    transform: translateX(0);
  }

  47.5%,
  52.5% {
    transform: translateX(var(--final-position));
  }

  97.5%,
  100% {
    transform: translateX(0);
  }
}

section {
  display: flex;
  gap: 3px;
  padding-top: 8px;
}

@keyframes waveform {
  0% {
    transform: scaleY(0.5);
  }

  50% {
    transform: scaleY(1.5);
  }

  100% {
    transform: scaleY(0.5);
  }
}

[class*="wave"] {
  aspect-ratio: 0.125/1;
  animation: waveform var(--wavefreq) ease-in-out infinite forwards;
  animation-delay: var(--wave-offset);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  width: 1vw;
}

:root {
  --m: 11.5;
  --wavefreq: calc(100ms * var(--m));
  --wave-offset: -1.5s;
}

.wave1 {
  --wavefreq: calc(200ms * var(--m));
  animation-delay: calc(var(--wave-offset) - 0.2s);
}

.wave2 {
  --wavefreq: calc(300ms * var(--m));
  animation-delay: calc(var(--wave-offset) - 0.3s);
}

.wave3 {
  --wavefreq: calc(400ms * var(--m));
  animation-delay: calc(var(--wave-offset) - 0.4s);
}

.text-[40px].font-[580].tracking-tight.transition-colors {
  transition: color 0.3s ease-in-out;
}

.flex-1.text-left.overflow-y-auto {
  scroll-behavior: smooth;
  scrollbar-width: none;
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}

.flex-1.text-left.overflow-y-auto::-webkit-scrollbar {
  width: 5px;
}

.flex-1.text-left.overflow-y-auto::-webkit-scrollbar-track {
  background: transparent;
}

.flex-1.text-left.overflow-y-auto::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

@keyframes fadeInLyric {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.current-lyric-animation {
  animation: fadeInLyric 0.3s ease-out forwards;
}

.flex-1.text-left.overflow-y-auto p {
  margin-bottom: 16px;
}

.progress-bar {
  transition-property: width;
  transition-timing-function: linear;
  transition-duration: 250ms;
  will-change: width;
}

.progress-bar.no-transition {
  transition: none;
}

.translate-y-24 {
  transform: translateY(6rem);
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: ease-linear;
  transition-duration: 0ms;
  will-change: transform;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

@keyframes volumeInScale {
  from {
    transform: scale(0) translate3d(100%, 0, 0);
    margin-right: 0;
  }

  to {
    transform: scale(1) translate3d(0, 0, 0);
    margin-right: 60px;
  }
}

.volumeInScale {
  animation-name: volumeInScale;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes volumeOutScale {
  from {
    transform: scale(1) translate3d(0, 0, 0);
    margin-right: 60px;
  }

  to {
    transform: scale(0) translate3d(100%, 0, 0);
    margin-right: 0;
  }
}

.volumeOutScale {
  animation-name: volumeOutScale;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.transition-height {
  transition-property: height;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@keyframes mappingOverlayEnter {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes mappingOverlayExit {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-20px);
    opacity: 0;
  }
}

.mapping-overlay-enter {
  animation: mappingOverlayEnter 300ms ease forwards;
  display: flex;
}

.mapping-overlay-exit {
  animation: mappingOverlayExit 300ms ease forwards;
  display: flex;
}