@use "../../styles/variables.module" as vars;

.noInteraction {
  height: vars.$device-height;
  width: vars.$device-width;
  position: absolute;
  top: 0;
  z-index: vars.$onboarding-tactile-z-index + 2;

  @include vars.rounded-corners;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: vars.$opacity-black-90;
  opacity: 0;
  transition: opacity 300ms vars.$easing-function-ease-out-cubic;

  &.visible {
    opacity: 1;
  }
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 335px;
}

.button {
  width: 100%;
  height: 80px;
  border-radius: 40px;
  border: none;
  cursor: pointer;

  @include vars.text-style(28px, 36px, -0.01em);

  font-weight: 700;
}

.primary {
  background: vars.$white;
  color: vars.$black;
}

.secondary {
  background: vars.$gray-30;
  color: vars.$white;
}
