@use "../../styles/variables.module" as vars;

.volume {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirmationIcon {
  display: block;
  width: 96px;
  height: 96px;
  color: vars.$white;
}

.confirmationText {
  margin-top: 40px;
}
